ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
ANTHROPIC_BASE_URL=https://api.anthropic.com
PORT=8003
LOG_LEVEL=info
ENABLE_BROWSER_SERVICE=true
ENABLE_FILE_SERVICE=true
ENABLE_SHELL_SERVICE=true
